<div class="video-container">
  <iframe
    src="https://www.youtube-nocookie.com/embed/{{ videoId }}?rel=0&enablejsapi=1&playsinline=1" data-youtube-embed data-video-id="{{ videoId }}"
    title="{{ videoTitle or 'YoYo Sitar live performance video' }}"
    loading="lazy"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>