



<footer class="footer">
  <a href="{{ site.social.instagram }}">
	<img src="/assets/img/icons/instagram.svg" alt="Instagram">
 </a>
  <a href="{{ site.social.bandcamp }}">
  <img src="/assets/img/icons/bandcamp.svg" alt="Bandcamp">
  </a>
  <a href="{{ site.social.youtube }}">
  <img src="/assets/img/icons/youtube.svg" alt="Youtube">
  </a>
  <a href="{{ site.social.spotify }}">
  <img src="/assets/img/icons/spotify.svg" alt="Spotify">
  </a>
</footer>





